<div class="overflow-hidden rounded-lg bg-white">
  <div class="px-4 py-5 sm:px-6">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @channel.name %></h2>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <img src="<%= @channel.image%>" alt="<%= @channel.name%>" class="pointer-events-none object-cover group-hover:opacity-75 max-w-sm">
  </div>
  <div class="px-4 py-4 sm:px-6">
    <p class="text-lg leading-8 text-gray-600"><%= @channel.description %></p>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Episodes</h2>
  </div>
</div>